html,
body {
  height: 100%;

  width: 1200px;
  background-color: #e7f0f6;
}

html {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  border: 5px solid black;
}

body {
  display: table-cell;
  vertical-align: middle;
}

header {
  background-color: #37383d;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: -50px;
}

form {
  height: 70px;
  font-size: 25px;
  margin-left: 44px;
}
form button {
  border-radius: 10px;
}
form input {
  border-radius: 10px;
  width: 400px;
}

.output {
  margin-top: 40px;
}
li {
  background-color: rgba(1, 1, 1, 0.1);
  margin-top: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

li span {
  font-size: 20px;
  align-self: center;
  margin-left: 10px;
}

.doneBtn {
  width: 20px;
  height: 20px;
  position: relative;
  top: 25%;
  right: 10px;
}
.editBtn {
  width: 60px;
  height: 25px;
  position: relative;
  top: 15%;
  right: 10px;
}
.DeleteBtn {
  width: 60px;
  height: 25px;
  position: relative;
  top: 15%;
  right: 10px;
}

.glow {
  font-size: 25px;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(0, 255, 94), 0 0 20px rgba(255, 240, 0, 1),
      0 0 30px #020001, 0 0 40px #020001, 0 0 50px #020001, 0 0 60px #020001,
      0 0 70px #020001;
  }
  to {
    text-shadow: 0 0 30px rgba(255, 240, 0, 1), 0 0 40px #020001,
      0 0 450px #020001, 0 0 60px #020001, 0 0 70px #020001, 0 0 80px #020001,
      0 0 90px #020001;
  }
}
